You can verify your design by clicking on `Tools` -> `Netlist Viewers` -> `RTL Viewer`

![image](https://user-images.githubusercontent.com/64896000/233872014-5524b843-5311-43d6-a3c0-04dfe0f40ef5.png)

You should get something like this

![image](https://user-images.githubusercontent.com/64896000/233872030-84447b4f-2a6c-45da-811b-2add43b42dbf.png)
