You can verify your design by clicking on `Tools` -> `Netlist Viewers` -> `RTL Viewer`

![image](https://user-images.githubusercontent.com/64896000/233872014-5524b843-5311-43d6-a3c0-04dfe0f40ef5.png)

You should get something like this

![image](https://user-images.githubusercontent.com/64896000/233872030-84447b4f-2a6c-45da-811b-2add43b42dbf.png)

If you want to verify it using state diagram, you can do so by double clicking on the box, you should get something like this
![image](https://github.com/wesamnabeel99/FPGA_LAB/assets/64896000/3255f7d4-b790-488d-b9b2-b21f7dd8584d)

Or, you can acheive this by clicking on `Tools` -> `Netlist Viewers` -> `State Machine Viewer`
![image](https://github.com/wesamnabeel99/FPGA_LAB/assets/64896000/59b22732-a9a2-46f3-acd8-613b0c75d111)
